.footer {
  padding: 60px 0;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
}

.footer__copyright {
  margin: 0;
  font: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  opacity: 70%;
  color: #212121;
}
