.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__delete-button {
  background-image: url(../images/Default-Trash-Btn.svg);
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.card__delete-button:hover {
  background-image: url(../images/State=Hover.svg);
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  opacity: 40%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  border: none;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../images/Pink-Heart-Btn.svg);
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: none;
  margin-top: 0;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
